/*/////////////////////ALGEMEEN///////////////////*/

:root{
    --kaas-geel: #ffae00;
    --kaas-lichtgeel: #ffd600;
    --header-gradient: linear-gradient(90deg, #ff9900, #ffd100);
    --footer-gradient: linear-gradient(145deg, #ffd100, #ff9900);
    --smaaktest-gradient: linear-gradient(45deg, var(--kaas-geel), var(--kaas-lichtgeel));
    --lichte-tekst: #ffffff;
    --transparante-lijn: #ffffff52;
    --donkere-tekst: #000000;
    --lichtgrijs: #f7f7f7;
    --beige-tekst: #ffe6af;
    --donkergrijs: #818181;
    /* bron: https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
    /* brom: https://developer.mozilla.org/en-US/docs/Web/CSS/gradient/linear-gradient */
    }
  
body{
    width: 100%;
    height: 100%;
    margin: 0;
    left: 0;
    top: 0;
    background-color: var(--lichte-tekst)
}

/*/////////////////////TYPOGRAFIE///////////////////*/

h1, h2, h3, h4, p, a, li {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

h1{
    font-size: 2.3em;
    line-height: 1.1em;
    font-weight: 500;
    letter-spacing: -0.04em;
}

h2{
    font-size: 1.7em;
    font-weight: 500;
    text-align: center;
    letter-spacing: -0.04em;
    margin-bottom: 0%;
    margin-left: 1.4em;
    margin-right: 1.4em; 
}

h2 + p{
    text-align: center;
    font-size: 0.70em;
    font-weight: 500;
    line-height: 2em;
    margin-left: 2em;
    margin-right: 2em;
    /* bron: https://developer.mozilla.org/en-US/docs/Web/CSS/Next-sibling_combinator */
}

h2 strong{
    font-weight: 400;
}

h3{
    font-size: 1.5em;
}

p {
    font-size: 0.8em;
    font-weight: 500;
    line-height: 1.7em;
}

a {
    font-size: 0.8em;
    font-weight: 700;
    line-height: 1.7em;
}

strong {
    color: var(--kaas-geel);
    font-weight: 540;
}

/*/////////////////////STRUCTUUR///////////////////*/

main{
    background-color: var(--lichte-tekst)
}

header{
    background: var(--header-gradient);
    color: var(--lichte-tekst);
}

footer{
    background: var(--footer-gradient);
    color: var(--lichte-tekst);
}

/*/////////////////////HEADER///////////////////*/
header{
    border-bottom: 0.15em solid var(--lichte-tekst);
    position: fixed;
    top: 0;
    z-index: 9999;
    left: 0;
    right: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

nav a img {
    max-height: 3em;
    margin-top: 14%;
    margin-bottom: 14%;
    position: relative;
    }

nav a:nth-of-type(2) img{
    max-height: 1.8em;
    left: 30%;
    margin-top: 17%;
}

nav a:nth-of-type(3){
    position: relative;
    right: -10%;
}  
nav a:nth-of-type(4){
    position: relative;
    right: 0;
}   


.wit{
    background-color: var(--lichte-tekst);
}
.wit img{
    filter: invert(100%);
    /* bron: https://developer.mozilla.org/en-US/docs/Web/CSS/filter */
}

/*/////////////////////FOOTER///////////////////*/

footer{
    padding-top: 5%;
    margin-top: 20%;
    text-align: center;
}

footer h2{
    font-size: 1.5em;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 10%;
    font-weight: 600;
    margin-bottom: -2%;
}

footer>ul:nth-of-type(1){
    display: flex;
    max-width: 100%;
    overflow: hidden;
    margin-left: 5%;
}

footer>ul>a{
    width: 10em;
    margin-right: -28%;
}

footer>ul>a img{
    width: 2.5em;
}


footer li{
    list-style: none;
}
footer>p{
    color: var(--beige-tekst)
}

footer section{
    display: flex;
}

footer section:nth-of-type(1){
    margin-left: 0%;
    margin-right: 8%;
}

footer section ul{
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer h3{
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 12%;
}
footer section a{
    font-size: 0.9em;
    font-weight: 500;
}
footer section:nth-of-type(2){
    display: flex;
    flex-wrap: wrap;
    font-size: 1em;
    justify-content: center;
    padding-top: 13%;
    padding-bottom: 10%;
    max-width: 86%;
    margin-left: 9%;
}

footer section:nth-of-type(2) a{
    margin-right: 5%;
    color: var(--beige-tekst);
    font-size: 0.8em;
    
}
footer section:nth-of-type(1) a{
    margin-bottom: -1%;
}

/*//////////////////////////////////////////////////INDEX/////////////////////////////////////////////*/
main a{
    background-color: var(--lichte-tekst);
    padding: 2%;
    border-radius: 4em;
    color: var(--kaas-geel);
    text-decoration: none;
    padding-left: 2%;
    padding-right: 2%;
    align-content: center;
}

main img{
    max-width: 100%;
}

/*/////////////////////KOPSTUKJE///////////////////*/
.kopstukje{
    background: var(--header-gradient);
    color: var(--lichte-tekst);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: auto;
    position: relative;
    top: 3.9em;
    padding-top: 7em;
    max-height: 23em;
    margin-bottom: 62%;
}

.kopstukje h1{
    position: relative;
    top: 1em;
    margin-bottom: 12%;
} 

.index header{
    background: var(--header-gradient);
}



.kopstukje a{
    background-color: var(--lichte-tekst);
    padding: 3%;
    border-radius: 4em;
    color: var(--kaas-geel);
    text-decoration: none;
    padding-left: 3%;
    padding-right: 3%;
    align-content: center;
    width: 50%;
    margin-left: 20%;

}

.kopstukje>img{
    position: relative;
    right: 1em;
    top: 2em;
    border-top-right-radius: 8em;
    max-width: 99%;
    max-height: 18em;
    object-fit: cover;

    }

.kopstukje p{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    }


.kopstukje>div:nth-of-type(1)>img:nth-of-type(1){
    z-index: 90;
    width: 4em;
    height: 4em; 
    background-color: var(--lichte-tekst);
    border-radius: 5em;
    padding: 2%;
    position: relative;
    top: -16.3em;
    right: -8em;
    animation-name: draaien;
    animation-duration: 9800ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    }

    @keyframes draaien {
        from {
            transform:rotate(0deg);
        }
        to {
            transform:rotate(360deg);
        }
    }
/* bron: https://codepen.io/teerapuch/pen/vLJXeR */

.kopstukje>div:nth-of-type(1)>img:nth-of-type(2){
    z-index: 99;
    width: 4em;
    height: 4em; 
    position: relative;
    top: -16.6em;
    right: -3.3em
}


/*/////////////////////KAASCATALOGUS///////////////////*/
.kaascatalogus{
    margin-top: 35%;
    margin-bottom: 15%;
    }

.kaascatalogus a{
    background: var(--header-gradient);
    color: var(--lichte-tekst);
    border-radius: 4.5%;
    margin-left: 9em;
    padding: 4%;
    padding-left: 9%;
    padding-right: 9%;
    font-size: 0.7em;
    }

.kaascatalogus section{
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: row;
    overflow-x: auto; 
    margin-bottom: 10%;
}

.kaascatalogus article{
    min-width: 60%;
    height: 20em;
    margin-left: 5%;
    display: inline-block;
    color: var(--lichte-tekst)
}

.kaascatalogus article img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.8em;
    z-index: -90;
}


.kaascatalogus article a{
    padding: 0%;
    padding-left: 7%;
    padding-right: 7%;
    height: 3.2em;
    border-radius: 0.7em;
    margin-left: 30%;
    margin-top: -10%;
}

.kaascatalogus article div{
    z-index: 90;
    display: flex;
    flex-direction: row;
    margin-left: 4%;
    margin-top: -17%;
}
.kaascatalogus article div div{
    display: flex;
    flex-direction: column;
}

.kaascatalogus article h3{
    font-size: 0.8em;
    font-weight: 700;
}
.kaascatalogus article p{
    margin-top: -19%;
    font-size: 0.67em;
}



/*/////////////////////RECEPTEN///////////////////*/

.recepten{
    padding-top: 9%;
    padding-bottom: 20%;
    background-color: var(--lichtgrijs);
    margin-bottom: 16%;
}

.recepten section{
    display: flex;
    flex-direction: row;
    overflow-x: auto; 
    margin-bottom: 13%;
}

.recepten article{
    min-width: 80%;
    height: 20em;
    margin-left: 5%;
    display: inline-block;
    color: var(--lichte-tekst);
}

.recepten article img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1em;
}

.recepten a{
    background: var(--lichtgrijs);
    border: solid 1px var(--donkere-tekst);
    color: var(--donkere-tekst);
    border-radius: 4.5%;
    margin-left: 7em;
    padding: 4%;
    padding-left: 9%;
    padding-right: 9%;
    font-size: 0.7em;
}


.recepten article div{
    z-index: 90;
    display: flex;
    flex-direction: column;
    margin-right: 4%;
    margin-left: 9%;
    margin-top: -39%;
}

.recepten article:nth-of-type(even) div{
    margin-top: -47%;
}

.recepten article div div{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin-left: -6%;
}

.recepten article:nth-of-type(even) div div{
    margin-top: 4%;
}
.recepten article div div img{
    margin: 5%;
    max-height: 1em;
    max-width: 1em;
}

.recepten article h3{
    font-size: 0.93em;
    font-weight: 500;
    margin-bottom: -6%;
}
.recepten article p{
    font-size: 0.67em;
}



/*/////////////////////MERKEN///////////////////*/

.merken section{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    width: 90%;
}
  

.merken section article{
    height: 13em;
    object-fit: cover;
    margin-bottom: 3em;
    color: var(--lichte-tekst);;

}

.merken section div{
    z-index: 99;
    margin-top: -6.9em;
    text-align: center;
}

.merken section h3{
    margin-top: -0.4em;
    font-weight: 700;
    line-height: 1em;
}

.merken article:nth-of-type(2) div{
    z-index: 99;
    margin-top: -5.5em;
    text-align: center;
}

.merken section article img{
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 23%;
    object-fit: cover;  
    /*bron: https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow  */
}

.merken a{
    background: var(--lichte-tekst);
    border: solid 1px var(--donkere-tekst);
    color: var(--donkere-tekst);
    border-radius: 4.5%;
    margin-left: 7em;
    padding: 4%;
    padding-left: 9%;
    padding-right: 9%;
    font-size: 0.7em;
}

.smaaktest{
    margin-top: 16%;
    display: flex;
    flex-direction: column;
    background: var(--smaaktest-gradient);
    width: 75%;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-left: 3.5%;
    justify-content: center;
    color: var(--lichte-tekst);;
    border-radius: 1.1em;
}

.smaaktest a{
    text-align: center;
    font-size: 1em;
    width: 10em;
    padding: 1em;
    margin-left: 2em;
    line-height: 1.4em
}
.smaaktest p{
    font-size: 0.8em;
    line-height: 1.8em
}
.smaaktest h2{
    font-size: 2em;
    line-height: 1.1em;
}

.smaaktest img{
    width: 87%;
    position: relative;
    margin-left: 6%;
    margin-top: 10%;
    margin-bottom: 10%;

}






/*///////////////////////////////////////////////////////KAASPROFIEL////////////////////////////////////////////////////////////////////////*/
.profielheader{
    background: none;
    border-bottom: 1px solid var(--transparante-lijn);
    position: absolute;
    
}

.profielheader img{
    width: 55%;
    margin-left: 10%;
    margin-bottom: 10%;
}


.smaakbanner{
    background-image: url(images/kaasprofiel_banner.png);
    background-size: 250%;
    background-position-x: -13em;
    margin-top: -15%;
    padding-bottom: 13%;
    border-bottom-right-radius: 2em;
    border-bottom-left-radius: 2em;
}

.smaakbanner h1{
    color: var(--lichte-tekst);
    padding-top: 60%;
    font-size: 3em;
    font-weight: 600;
    margin-left: 5%;
    margin-bottom: 2%;
    margin-top: 8%;
    font-weight: 600;
}

.profiel h2{
    font-weight: 600;
    font-size: 2.0em;
    line-height: 1.2em;
}

.profielinstructie h2{
    font-weight: 600;
    font-size: 2.0em;
    line-height: 1.2em;
}


.smaakbanner a{
    background: var(--header-gradient);
    color: rgb(255, 255, 255);
    border-radius: 20em;
    margin-left: 8.5em;
    padding: 5%;
    padding-left: 19%;
    padding-right: 19%;
    font-size: 1em;
    margin-left: 1.5em;
    font-weight: 600;
}

.smaakbanner p{
    color: var(--lichte-tekst);
    opacity: 70%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0%;
    font-size: 0.9em;
    padding-bottom: 5%;
}


.kaasbeleving>p:nth-of-type(1){
    color: var(--donkergrijs);
    margin-left: 10%;
    margin-right: 10%;
    font-size: 0.74em;
}

.gelecaroussel article{
    display: flex;
    flex-direction: column;
    background: var(--footer-gradient);
    color: var(--lichte-tekst);;
    justify-content: center;
    text-align: center;
    min-width: 12em;
    padding: 8%;
    padding-left: 13%;
    padding-right: 13%;  
    border-radius: 1.2em;
}

.gelecaroussel h3{
    font-size: 1.6em;
    font-weight: 700;
    text-align: center;
    line-height: 1.3em;
}
.gelecaroussel{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 5%;
    padding: 20px;
    margin-top: 10%;
}

.gelecaroussel img{
    margin-top: 5%;
}

.gelecaroussel p{
    margin-top: -8%;
    width: 120%;
    margin-left: -10%;
    line-height: 2em;
}

.profiel>div:nth-of-type(1){
    display: flex;
    margin-left: 30%;
    color: var(--donkergrijs);
    margin-top: 10%;
}

.profiel>div:nth-of-type(1)>img{
    width: 1.2em;
    height: 1.2em;
    margin-top: 5.4%; 
    margin-right: 4%;
}

.profielinstructie{
    margin-top: 25%;
    background-color: var(--lichtgrijs);
    padding-bottom: 19%;
}

.profielinstructie p{
    color: var(--donkergrijs)
}



.profielinstructie img{
    width: 90%;
    margin-left: 5%;
    border-radius: 0.7em;
    object-fit: cover;
    height: 14em;
}


.profielinstructie article{
    display: flex;
    align-items: center; 
    width: 90%;
    margin-left: 5%;
    background-color: var(--lichte-tekst);;
    margin-bottom: 5%;    
}

.profielinstructie h3{
    background-color: var(--kaas-geel);
    color: var(--lichte-tekst);;
    font-size: 1.3em;
    font-weight: 600;
    border-radius: 50%;
    min-width: 2em;
    min-height: 2em;
    display: inline-block; 
    text-align: center;
    line-height: 2em; 
    padding: 0;
    margin-left: 5%;
    /* bron: https://developer.mozilla.org/en-US/docs/Web/CSS/display */
}

.profielinstructie article div{
    display: flex;
    margin-left: -4%;
    flex-direction: column;
    padding: 9%;
    padding-top: 4%;
    padding-bottom: 4%;
}

.profielinstructie article h4{
    font-size: 0.86em;
    font-weight: 700;
    margin-bottom: -7%;
}

.profielinstructie h2{
    text-align: left;
    margin-left: 7%;
}
.profielinstructie h2{
    text-align: left;
    margin-left: 7%;
}

.profielinstructie>div{
    display: flex;
}


.profielinstructie>div>p{
    margin-left: 3%; 
    margin-top: 3%; 
}

.profielinstructie>div>img{
    width: 0.9em;
    height: 0.9em;
    margin-top: 4.4%; 
    margin-left: 1.3em;
    }
    

.creatingmoments{
    text-align: center;
    width: 85%;
    margin-left: 7%;
    padding-bottom: 20%;
}
.creatingmoments h3{
    font-size: 1em;
}

.creatingmoments p{
    color: var(--donkergrijs)
}

.creatingmoments div{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 5%;
    padding: 20px;
}


.creatingmoments article{
    min-width: 18em;
    margin-left: -8%;
}

.creatingmoments article h3{
    margin-bottom: -2%;
}

.mening h2{
    margin-left: 2%;
    margin-right: 2%
}

.mening p{
    color: var(--donkergrijs);
    font-size: 0.8em;
}

.mening>div {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    margin-top: -29%;    
    margin-left: 3%;
    height: 100%;
    height: 40em;
}

.mening article {
    display: flex;
    flex-direction: column;
    color: var(--lichte-tekst);
    justify-content: center;
    text-align: center;
    min-width: 95%;
    border-radius: 1.2em;
    scroll-snap-align: start;
    margin-left: 8%;
    height: 40em;
}

.mening article:nth-of-type(3){
    margin-right: 5%; 
}
.mening img {
    height: 31em;
    object-fit: cover;
    border-radius: 1em;
}

.mening article div {
    margin-top: -60%;
}

.mening article h3 {
    font-weight: 700;
}

.mening article p {
    color: var(--lichte-tekst);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -5%;
}


/*/////////////////////HAMBURGER///////////////////*/
.hamburger ul{
    list-style: none;
}



.hamburger{
    height: 100%;
    width: 100%;
    position: fixed;
}


.hamburger img{
    background: var(--footer-gradient);
    max-width: 1.6em;
    padding: 0.2em;
    border-radius: 0.25em;
    margin-right: 0.3em;
}

.hamburger>div:nth-of-type(1){
    background: var(--header-gradient);
    color: var(--lichte-tekst);;
    font-size: 1.7em;
    margin-left: -6%;
    font-weight: 500;
    padding-top: 0%;
    padding-bottom: 24%;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    /* bron: https://developer.mozilla.org/en-US/docs/Web/CSS/clip-path */
}




.hamburger>div>a{
    background-color: var(--lichte-tekst);
    color: var(--kaas-geel);
    font-size: 0.75em;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 2em;
    margin-left: 10%;
}

.hamburger a{
    font-weight: 600;
    font-size: 1.0em;
}

.hamburger>div:nth-of-type(2)>p{
    color: var(--donkergrijs);
    margin-left: 12%;
    font-size: 0.7em;
}

.hamburger>div:nth-of-type(2)>ul>li:nth-of-type(2){
    color: var(--kaas-geel);
    margin-left: 12%;
    font-size: 0.6em;
    margin-top: -2.9em;
    margin-left: 11.3em;
}

.hamburger>div:nth-of-type(2)>ul>li:nth-of-type(3){
    margin-top: 0.9em;
}

.hamburger>div:nth-of-type(2)>ul:nth-of-type(1){
    margin-top: -2%;
    font-weight: 800;
    background: none;
}

.hamburger>div:nth-of-type(1)>img{
    max-width: 1em;
    margin-left: 85%;
    margin-bottom: -1em;
    background: none;
    opacity: 80%;
}


.hamburger>div:nth-of-type(1) li a{
    background: none;
    background-color: none;
    color: var(--lichte-tekst)
}



.hamburger.active {
    right: 0; /* Schuif het menu in beeld */
}





/* hhihihihiihihihi thomaaasssss hihihihihiihihihihihhi leuk project je krijgt een 10 van mijjj, je moet t rustig aan doenn!!!! geen zorgen maken, wij bezorgen */

















/* 

.kaascatalogus section{
    display: flex;
    flex-direction: row;
    overflow: auto;
    background-color: blue;
    width: 100%;

}
.kaascatalogus article{
    position: relative;
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
    background-color: red;
    height: 20em;

}

.kaascatalogus image{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */











/* 

.index section:nth-of-type(2) section{
    display: flex;
    background-color: grey;
    overflow: auto;
    scroll-snap-type: x mandatory;
}

.index section:nth-of-type(3) section{
    display: flex;
    background-color: grey;
    overflow: auto;
    scroll-snap-type: x mandatory;
}

.index section:nth-of-type(4) section{
    display: flex;
    background-color: grey;
    overflow: auto;
    scroll-snap-type: x mandatory;
}

.index section:nth-of-type(5) section{
    display: flex;
    background-color: grey;
    overflow: auto;
    scroll-snap-type: x mandatory;
}











 */


/* 
h1{
    margin-top: 14.5em;
}

main a{
    background-color: var(--lichte-tekst);
    padding: 2%;
    border-radius: 4em;
    color: var(--kaas-geel);
    text-decoration: none;
    padding-left: 2%;
    padding-right: 2%;
    align-content: center;
}

main img{
    max-width: 100%;
}

.index section:nth-of-type(1){
    background-color: var(--kaas-geel);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-height: 50em;
    object-fit: cover;
}



.index section:nth-of-type(1) a{
 width: 50%;
 margin-left: 20%;
 margin-bottom: 7%;
}

.index section:nth-of-type(1) p{
    margin-top: -5%;
    margin-left: 5%;
    margin-right: 5%;
   }

   
.index section:nth-of-type(1) img{
position: relative;
right: 2em;
top: 5;
border-top-right-radius: 8em;
max-height: 19em;
object-fit: cover;
}

section:nth-of-type(1)>div:nth-of-type(1)>img{
position: relative;
} */